@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .label {
        @apply block mb-1 text-gray-500 dark:text-gray-300 font-medium;
    }

    .input {
        @apply block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500;
    }

    .input-error {
        @apply text-sm text-red-500 dark:text-red-400;
    }

    .input-filter-l {
        @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-md rounded-b-md rounded-r-none text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800;
    }

    .input-filter-r {
        @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-l-0 border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-none rounded-b-none rounded-r-md text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800;
    }

    .btn-normal {
        @apply bg-gray-600 hover:bg-gray-500 text-white font-medium p-2 rounded-md;
    }

    .btn-primary {
        @apply bg-indigo-600 hover:bg-indigo-500 text-white font-medium p-2 rounded-md;
    }

    .btn-outline {
        @apply p-2 rounded-md border shadow-sm border-gray-300 dark:border-gray-800 hover:border-gray-400 hover:bg-gray-50 dark:hover:border-gray-700 dark:hover:bg-gray-800;
    }
    .active-menu{
        background: #dee0ef;
        color: #191c51;
        border-right-color: #191c51;
        border-right-width: 4px;
        border-right-style: solid;
    }
    .zcard {
        border-radius: 8px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #dedede;
        background-color: #fff;
    }
    .ztext , q-table{
        color: #484848;
    }

    .primary-title {
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 600;
        letter-spacing: normal;
        /*color: $primary;*/
    }
    .page-title {
        font-family: 'Poppins';
        font-size: 21px;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: normal;
        color: #333333;

    }
}
@media (max-width: 599px) {
    .container{
        padding: 8px;
    }
    .container-sm{
        max-width:450px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
    .container-sm{
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media (max-width:1439px) {
    .container {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
    .container-sm{
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (max-width: 3919px) {
    .container {
        max-width: 1250px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
    .container-sm{
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}
